<%- include('./partials/head') %>
<%- include('./partials/header') %>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= producto.nombre %></h2> 
			<!-- falta agregar un condicional con el tema del usuario, si el usuario logeado es el mismo que el del producto en pantalla, deberia aparecer el boton de editar -->
		<% if (locals.usuario!=undefined ) { %>
			<% if (locals.usuario.id == producto.id_creador) { %>
				<p class="product-detail-edit"><a href="/product/editar/id/<%=producto.id%>">Editar</a></p>
				<form action="/product/eliminar/id/:id" method="post">
					<input type="submit" value="ELIMINAR">
					<input type="text" id="" hidden name="id" value="<%=producto.id %>">
				</form>
			<% } %>
		<% } %>	
			<a class="product-detail-edit"href="/users/profile/id/<%=producto.id_creador%>">Propietario: <%=producto.usuarios.usuario %></a>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src=<%= producto.imagen %> alt="" class="product-detail-img">
					<p class="product-detail-description"><%= producto.descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for( let i = 0; i < producto.comentarios.length; i++ ) { %>
							<article>
									<img src=<%= producto.comentarios[i].usuarios.foto_de_perfil%> alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="/users/profile/id/<%=producto.comentarios[i].usuarios.id%>"><%= producto.comentarios[i].usuarios.usuario %>: </a> </strong>
									<%= producto.comentarios[i].comentario %></p>
								</div>
							</article>
						<% } %>

					</section>
					<form class="form" action="/product/id/<%=producto.id %>" method="POST">
						<%if (locals.usuario == undefined) {%>
							<input disabled="true" class="form-input" type="text" value="" name="comentario" placeholder="">
							<button disabled="true" type="submit" class="buy-now-button">DEBE ESTAR LOGUEADO PARA COMENTAR</button>
							
						<%} else {%>
							<input class="form-input" type="text" value="" name="comentario" placeholder="Agrega tu comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						<%}%>
						
					
					</form>
					
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<%- include('./partials/footer') %>
	

