<%- include('./partials/head') %>
<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<section >

				<form action="/users/edit/id/<%=usuario.id%>" method="POST">

					<div>
						<label> Foto de perfil:</label>
						<input type="text" id="imagen" name="foto_de_perfil" value="<%=usuario.foto_de_perfil%>">
					</div>
	
					<div>
						<label> Mail:</label> 
						<input type="email" name="mail" value="<%=usuario.mail%>">
					</div>
	
					<div>
						<label> Usuario:</label>
						 <input type="text" name="usuario" value="<%=usuario.usuario%>">
					</div>
	
					<div>
						<label> Contraseña:</label> <input type="password" name="password" value=""  >
					</div>
	
					<div>
						<label> Fecha de nacimiento:</label>
						 <input type="date" name="fecha_de_nacimiento" value="<%=usuario.fecha_de_nacimiento%>">
					</div>
	
					<div>
						<label> DNI:</label> 
						<input type="text" name="dni" value="<%=usuario.dni%>">
					</div>
					<% if (locals.errors) { %>
						<p class="errorUsuario"><%= locals.errors.message %></p>
					<% } %>
					<div>
						<input class="enviar" type="submit" value="Enviar">
					</div>
	
	
			</section>

	<%- include('./partials/footer') %>
