<%- include('./partials/head') %>
<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h1 class="products-title">Resultado de busqueda:</h1>
			</div>
			<!-- Show the "ultimos" products -->

			<% for (let i=0; i<productos.length; i++) {%>

				<div class="col-12 col-sm-6 col-lg-3">
					

					<section class="product-box">
						<a href="/product">
							<figure class="product-box_image">
								<img class= 'img-ind' src=<%=productos[i].imagen%>>
							</figure>
							<article class="product-box_data">
								<h2><%=productos[i].nombre%></h2>
								<p><%=productos[i].descripcion%></p>
							</article>
						</a>
					</section>
				</div>
			<% } %>

	<%- include('./partials/footer') %>
